@model IEnumerable<auction.Models.R_ExpConsumeC>
@{
    Layout = null;
    <style>
        table tr td {
            font-size: 11px;
        }
    </style>
}
<table class="table">
    <tr>
        <th>
          Id
        </th>
        <th>
            Name
        </th>
        <th>
            Qt/Hr
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MCLT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MCLT_DESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MCLT_HOUR)
        </td>
    </tr>
}

</table>
